{% extends "base.html" %}
{% block content %}

<form action="/submit_classes" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Enter Classes</h1>
			</div>
			{% with messages = get_flashed_messages() %}
      		{% if messages %}
        		{% for message in messages %}
                    <div style="text-align: center">
            		<span style="color: red;">{{message}} </span>
                    </div><br>
        		{% endfor %}
        		</ul>
      		{% endif %}
		    {% endwith %}
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="class1">
				<label class="login-field-icon fui-user"></label>
				</div>
 
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="password" name="class2">
				<label class="login-field-icon fui-lock"></label>
				</div>
 
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
{% endblock %}
