{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 
 
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			{% with messages = get_flashed_messages() %}
      		{% if messages %}
        		{% for message in messages %}
                    <div style="text-align: center">
            		<span style="color: red;">{{message}} </span>
                    </div><br>
        		{% endfor %}
        		</ul>
      		{% endif %}
		    {% endwith %}
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				</div>
 
                <input type="submit" value="Add classes" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
 
{% endif %}
{% endblock %}
